<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OdderOtter</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <img id="OdderOtterTitle" src="https://cdn.discordapp.com/attachments/890191808548700190/890973611110846534/odder-otter-community.png" alt="Odder Otter Community">
    <p>Welcome to the Otter Otter language learning community!</p>
</body>
</html>